<div class="entete" style="width: 100%;">
    <div class="row" id="logo">
        <div class="col-12 position-relative app_anime">
            <div class="w-100 p-3 position-absolute top-50 start-50 translate-middle text-center">
                <p class="text-uppercase fw-bold textInfo">ce que nous faisons</p>
                <h3>Nous sommes là pour vous accompagner dans votre apprentissage</h3>
                <a href="#ancre" type="button" class="btn p-4 rounded-circle btn-lg mt-5" style="background-color: #ffd601;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="height: 5em; background-color: #142b6f;"></div>

<div class="container presentation">
    <div class="row mt-5 p-3">
        <div class="col-12" id="ancre">
            <h4 class="fw-bold">GIE</h4>
            <h1>Ce que nous faisons</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur deleniti necessitatibus voluptate debitis beatae atque, ad quas quae velit blanditiis quod quam quo architecto cum repellendus nulla fuga expedita repellat?
            Quas iste tempore maiores optio necessitatibus ea eligendi nostrum possimus delectus modi praesentium deleniti, laborum veniam ducimus nobis provident, enim nesciunt voluptatum accusamus neque. Delectus eos quod repellat voluptatum consectetur?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consectetur amet adipisci quod facere expedita ducimus optio magnam, magni dignissimos corrupti sint vel sequi dolorem tenetur earum porro eaque dolores.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dolorum ea quidem nihil, culpa pariatur sit in officia cum nesciunt! Necessitatibus porro eum non beatae culpa modi temporibus incidunt. Quibusdam.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto numquam error ipsam ut sit vitae, esse quia? Nihil nisi enim accusamus, praesentium earum repellat, minus maiores architecto velit cum quisquam.
              Lorem ipsum, dolor sit amet consecteturadipisicing elit. Similique autem optio dolorem perspiciatis nostrum dolor natus odit ex, unde obcaecati rem deleniti totam fuga nesciunt aut cumque enim dolore et.</p>
        </div>
    </div>
</div>

<!-- service -->
<div class="album p-5 bg-light my-5">
    <div class="container">
        <div class="row d-flex text-center">
            <h1>Nos Services</h1>
        </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/img/3.jpg" alt="" width="100%" height="225">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="#" class="btn button fw-bold" type="button"> En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/img/3.jpg" alt="" width="100%" height="225">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="#" class="btn button fw-bold" type="button"> En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/img/3.jpg" alt="" width="100%" height="225">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="#" class="btn button fw-bold" type="button"> En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-2">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/img/3.jpg" alt="" width="100%" height="225">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="#" class="btn button fw-bold" type="button"> En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/img/3.jpg" alt="" width="100%" height="225">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="#" class="btn button fw-bold" type="button"> En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/assets/img/3.jpg" alt="" width="100%" height="225">

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="#" class="btn button fw-bold" type="button"> En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
</div>

<!-- Programme de formation -->
<div class="row d-flex text-center pb-3">
  <h1>Nos Programmes de formation</h1>
</div>
<div class="container pb-3 presentation">
  <div class="row p-3">
      <div class="col-12">
          <h4 class="fw-bold">GIE</h4>
          <h1 class="fw-bold" >Step Training</h1>
          <div class="row">
            <div class="col-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, sit dolores expedita eaque rem dicta aliquam, maiores, vel dolor ullam eligendi! Velit sit eius maxime, architecto atque consequatur excepturi similique!</div>
            <div class="col-4"></div>
          </div>
          <!-- <div class="col-6 d-flex">
            <p>Lorem ipsum, dolor sit amet consecteturadipisicing elit. Similique autem optio dolorem perspiciatis nostrum dolor natus odit ex, unde obcaecati rem deleniti totam fuga nesciunt aut cumque enim dolore et.</p>
          </div> -->
      </div>
      <div class="col-6">
          <img src="/assets/img/2.jpg" class="w-100" alt="">
          <a href="#" class="btn w-100 fw-bold" type="button" style="height: 3em; background-color: #ffd601;">
            Pi
          </a>
      </div>
      <div class="col-6">
        <img src="/assets/img/2.jpg" class="w-100" alt="">
        <a href="#" class="btn w-100 fw-bold" type="button" style="height: 3em; background-color: #ffd601;">
          Etapes
        </a>
      </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <h4 class="text-uppercase" style="color: #142b6f;">programmes spécifiques pour nos</h4>
    <h1>Groupe cible</h1>
    <div class="col-8">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit in quis quos consequuntur laborum necessitatibus eveniet, doloremque ratione ex earum dignissimos explicabo facere enim corrupti, eius architecto libero praesentium quam.
    </div>
    <div class="col-4"></div>
    <div class="row mt-2 g-3" id="animeProgramme">
      <div class="col-6">
        <h4>Agripreneur</h4>
        <p class="bg-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni qui nostrum quis, consequuntur commodi similique sint quisquam fuga. Dicta unde assumenda mollitia. Minima sint velit mollitia ad, maxime iusto aperiam!</p>
      </div>
      <div class="col-6">
        <h4>Social Entrepreneur</h4>
        <p class="bg-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni qui nostrum quis, consequuntur commodi similique sint quisquam fuga. Dicta unde assumenda mollitia. Minima sint velit mollitia ad, maxime iusto aperiam!</p>
      </div>
      <div class="col-6">
        <h4>Travailleur</h4>
        <p class="bg-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni qui nostrum quis, consequuntur commodi similique sint quisquam fuga. Dicta unde assumenda mollitia. Minima sint velit mollitia ad, maxime iusto aperiam!</p>
      </div>
      <div class="col-6">
        <h4>Université / Grandes écoles </h4>
        <p class="bg-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni qui nostrum quis, consequuntur commodi similique sint quisquam fuga. Dicta unde assumenda mollitia. Minima sint velit mollitia ad, maxime iusto aperiam!</p>
      </div>
      <div class="col-6">
        <h4>Femme Entrepreneur</h4>
        <p class="bg-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni qui nostrum quis, consequuntur commodi similique sint quisquam fuga. Dicta unde assumenda mollitia. Minima sint velit mollitia ad, maxime iusto aperiam!</p>
      </div>
      <div class="col-6">
        <h4>Entrainement</h4>
        <p class="bg-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni qui nostrum quis, consequuntur commodi similique sint quisquam fuga. Dicta unde assumenda mollitia. Minima sint velit mollitia ad, maxime iusto aperiam!</p>
      </div>
    </div>
  </div>
</div>

<!-- Equipe -->
<div class="container mt-5">
    <div class="row d-flex text-center">
        <h1>Notre Equipe</h1>
    </div>
    <div class="bg-light justify-items-center row m-3 p-3">
        <div class="col-3">
            <img class="mt-2" src="/assets/img/Id1.jpg" alt="personnal1" width="200" height="200">
            <div style="width: 200px;">
              <h4>Marie Line</h4>
              <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim.</p>
            </div>
        </div>
        <div class="col-3">
          <img class="mt-2" src="/assets/img/Id2.jpg" alt="personnal1" width="200" height="200">
          <div style="width: 200px;">
            <h4>Marie Line</h4>
            <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim.</p>
          </div>
        </div>
        <div class="col-3">
          <img class="mt-2" src="/assets/img/Id1.jpg" alt="personnal1" width="200" height="200">
          <div style="width: 200px;">
            <h4>Marie Line</h4>
            <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim.</p>
          </div>
        </div>
        <div class="col-3">
          <img class="mt-2" src="/assets/img/Id2.jpg" alt="personnal1" width="200" height="200">
          <div style="width: 200px;">
            <h4>Marie Line</h4>
            <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim.</p>
          </div>
        </div>
        
    </div>
</div>