<div class="entete" style="width: 100%;">
    <div class="row" id="logo">
        <div class="col-12 position-relative app_anime">
            <div class="w-100 p-3 position-absolute top-50 start-50 translate-middle text-center">
                <p class="text-uppercase fw-bold textInfo">Nous consernant</p>
                <h3>Nous sommes là pour vous accompagner dans votre apprentissage</h3>
                <a href="#lire" type="button" class="btn p-4 rounded-circle btn-lg mt-5" style="background-color: #ffd601;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="height: 5em; background-color: #142b6f;"></div>

<div class="container presentation mt-3">
    <img src="/assets/img/3.jpg" alt="">
</div>
<div class="container">
    <div class="row m-5" id="#lire">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus exercitationem quam fugiat, nesciunt labore, dolor architecto vero commodi necessitatibus esse modi officia sed ab earum aperiam, quisquam corrupti est blanditiis.
        Eum incidunt sint ipsum nemo error molestiae assumenda dolore blanditiis itaque quae quia nulla rem voluptas neque amet praesentium, nostrum repellat sed ab laudantium. Adipisci, minima saepe? Vel, inventore quae.
        Possimus ut voluptatem nesciunt illum. Optio quasi saepe modi officia, nam velit minus consequatur laudantium in delectus cum! Quod temporibus explicabo quam qui aspernatur unde pariatur. Aliquam quidem dignissimos ut!
        Id consequuntur minima eligendi, saepe, dignissimos enim dolore recusandae itaque possimus distinctio mollitia. Reprehenderit iusto sapiente quasi cupiditate magni aspernatur? Et consequatur facere nihil mollitia sapiente deleniti enim! Ipsam, libero?
        Debitis id vel est possimus autem eveniet incidunt eaque. Alias vel amet nemo ea asperiores nulla perferendis. Culpa saepe repudiandae at voluptate maiores perferendis enim illum ratione dolor aut? Earum.</p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus exercitationem quam fugiat, nesciunt labore, dolor architecto vero commodi necessitatibus esse modi officia sed ab earum aperiam, quisquam corrupti est blanditiis.
            Eum incidunt sint ipsum nemo error molestiae assumenda dolore blanditiis itaque quae quia nulla rem voluptas neque amet praesentium, nostrum repellat sed ab laudantium. Adipisci, minima saepe? Vel, inventore quae.
            Possimus ut voluptatem nesciunt illum. Optio quasi saepe modi officia, nam velit minus consequatur laudantium in delectus cum! Quod temporibus explicabo quam qui aspernatur unde pariatur. Aliquam quidem dignissimos ut!
            Id consequuntur minima eligendi, saepe, dignissimos enim dolore recusandae itaque possimus distinctio mollitia. Reprehenderit iusto sapiente quasi cupiditate magni aspernatur? Et consequatur facere nihil mollitia sapiente deleniti enim! Ipsam, libero?
            Debitis id vel est possimus autem eveniet incidunt eaque. Alias vel amet nemo ea asperiores nulla perferendis. Culpa saepe repudiandae at voluptate maiores perferendis enim illum ratione dolor aut? Earum.</p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus exercitationem quam fugiat, nesciunt labore, dolor architecto vero commodi necessitatibus esse modi officia sed ab earum aperiam, quisquam corrupti est blanditiis.
            Eum incidunt sint ipsum nemo error molestiae assumenda dolore blanditiis itaque quae quia nulla rem voluptas neque amet praesentium, nostrum repellat sed ab laudantium. Adipisci, minima saepe? Vel, inventore quae.
            Possimus ut voluptatem nesciunt illum. Optio quasi saepe modi officia, nam velit minus consequatur laudantium in delectus cum! Quod temporibus explicabo quam qui aspernatur unde pariatur. Aliquam quidem dignissimos ut!
            Id consequuntur minima eligendi, saepe, dignissimos enim dolore recusandae itaque possimus distinctio mollitia. Reprehenderit iusto sapiente quasi cupiditate magni aspernatur? Et consequatur facere nihil mollitia sapiente deleniti enim! Ipsam, libero?
            Debitis id vel est possimus autem eveniet incidunt eaque. Alias vel amet nemo ea asperiores nulla perferendis. Culpa saepe repudiandae at voluptate maiores perferendis enim illum ratione dolor aut? Earum.</p>
    </div>
</div>
