
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STEP Publications</title>
   
  </head>
  <body>
  
  <div class="step-publications">
    <div class="content">
        <h1 style="font-family: 'Arial Black', Arial, sans-serif; color: white;">STEP Publications</h1>
        <p style="font-family: 'Arial Black', Arial, sans-serif; color: white;">Discover the fascinating research behind and around the STEP Training!</p>
        
      <a href="#cequenousfaisons" type="button" class="btn p-4 rounded-circle btn-lg mt-5" style="background-color: #ffd601;">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
        </svg>
    </a>
    </div>
  </div>
  
  
  
  
  
  </body>
  
  
  <section class="publications-section">
    <h2 class="animated-title" style="color: black; font-weight: bold;">Further Publications on Aspects of PI</h2>

      
      <div class="publications-content">
          <div class="publication-article">
              <i class="fas fa-thumbs-up fa-3x" style="margin-right: 10px;"></i>
              <div class="publication-details">
                  <h3>
                      <a href="https://doi.org/10.1080/1359432032000051276" target="_blank" rel="noopener noreferrer">
                          Goals need implementation intentions: The model of action phases tested in the applied setting of continuing education.
                      </a>
                  </h3>
                  <p class="publication-authors">Brandstaetter, V., Heimbeck, D., Malzacher, J. T., & Frese, M. (2003).</p>
                  <p class="publication-journal">European Journal of Work and Organizational Psychology, 12, 37-59.</p>
              </div>
          </div>
  
          <div class="publication-article">
              <i class="fas fa-thumbs-up fa-3x" style="margin-right: 10px;"></i>
              <div class="publication-details">
                  <h3>
                      <a href="https://doi.org/10.1142/S0218539314400026" target="_blank" rel="noopener noreferrer">
                          Climate for personal initiative and radical and incremental innovation in firms: A validation study.
                      </a>
                  </h3>
                  <p class="publication-authors">Fischer, S., Frese, M., Mertins, J. C., Hardt, J. V., Flock, T., Schauder, J., et al. (2014).</p>
                  <p class="publication-journal">Journal of Enterprising Culture, 22, 91-109.</p>
              </div>
          </div>
  
          <div class="publication-article">
              <i class="fas fa-thumbs-up fa-3x" style="margin-right: 10px;"></i>
              <div class="publication-details">
                  <h3>
                      <a href="https://doi.org/10.1561/0300000027" target="_blank" rel="noopener noreferrer">
                          Towards a psychology of entrepreneurship: An action theory perspective.
                      </a>
                  </h3>
                  <p class="publication-authors">Frese, M. (2009).</p>
                  <p class="publication-journal">Foundations and Trends in Entrepreneurship, 5, 435–494.</p>
              </div>
          </div>
  
          <div class="publication-article">
              <i class="fas fa-thumbs-up fa-3x" style="margin-right: 10px;"></i>
              <div class="publication-details">
                  <h3>
                      <a href="https://doi.org/10.1016/j.riob.2014.10.001" target="_blank" rel="noopener noreferrer">
                          Personal Initiative (PI): A concept for work in the 21st century.
                      </a>
                  </h3>
                  <p class="publication-authors">Frese, M., & Fay, D. (2001).</p>
                  <p class="publication-journal">Research in Organizational Behavior, 23, 133-188.</p>
              </div>
          </div>
  
          <div class="publication-article">
              <i class="fas fa-thumbs-up fa-3x" style="margin-right: 10px;"></i>
              <div class="publication-details">
                  <h3>
                      <a href="https://doi.org/10.1146/annurev-orgpsych-031413-091330" target="_blank" rel="noopener noreferrer">
                          The psychology of entrepreneurship.
                      </a>
                  </h3>
                  <p class="publication-authors">Frese, M., & Gielnik, M.M. (2014).</p>
                  <p class="publication-journal">Annual Review of Organizational Psychology and Organizational Behavior, 1, 413-438.</p>
              </div>
          </div>
  
          <div class="publication-article">
              <i class="fas fa-thumbs-up fa-3x" style="margin-right: 10px;"></i>
              <div class="publication-details">
                  <h3>
                      <a href="https://doi.org/10.1016/j.jbvi.2016.04.002" target="_blank" rel="noopener noreferrer">
                          Personal initiative training for small business owners.
                      </a>
                  </h3>
                  <p class="publication-authors">Frese, M., Hass, L., & Friedrich, C. (2016).</p>
                  <p class="publication-journal">Journal of Business Venturing Insights, 5, 27-36.</p>
              </div>
          </div>
  
          <div class="publication-article">
              <i class="fas fa-thumbs-up fa-3x" style="margin-right: 10px;"></i>
              <div class="publication-details">
                  <h3>
                      <a href="https://doi.org/10.1007/978-1-4899-7468-3_5" target="_blank" rel="noopener noreferrer">
                          Sociodemographic factors, entrepreneurial orientation, personal initiative, and environmental problems in Uganda.
                      </a>
                  </h3>
                  <p class="publication-authors">Koop, S., De Reu, T., & Frese, M. (2000).</p>
                  <p class="publication-journal">In M. Frese (Ed.), Success and failure of microbusiness owners in Africa: A psychological approach (pp. 55-76). Westport, Ct.: Quorum.</p>
              </div>
          </div>
  
          <div class="publication-article">
              <i class="fas fa-thumbs-up fa-3x" style="margin-right: 10px;"></i>
              <div class="publication-details">
                  <h3>
                      <a href="https://doi.org/10.1037/0021-9010.92.6.1481" target="_blank" rel="noopener noreferrer">
                          Business Owners’ Action Planning and Its Relationship to Business Success in Three African Countries.
                      </a>
                  </h3>
                  <p class="publication-authors">Frese, M., Krauss, S., Keith, N., Escher, S., Grabarkiewicz, R., Luneng, S. T., et al. (2007).</p>
                  <p class="publication-journal">Journal of Applied Psychology, 92, 1481-1498.</p>
              </div>
          </div>
  
          <div class="publication-article">
              <i class="fas fa-thumbs-up fa-3x" style="margin-right: 10px;"></i>
              <div class="publication-details">
                  <h3>
                      <a href="https://doi.org/10.1037/0021-9010.92.6.1481" target="_blank" rel="noopener noreferrer">
                          Creativity in the opportunity identification process and the moderating effect of diverse information.
                      </a>
                  </h3>
                  <p class="publication-authors">Frese, M., Krauss, S., Keith, N., Escher, S., Grabarkiewicz, R., Luneng, S. T., et al. (2007).</p>
                  <p class="publication-journal">Journal of Applied Psychology, 92, 1481-1498.</p>
              </div>
          </div>
  
          <div class="publication-article">
              <i class="fas fa-thumbs-up fa-3x" style="margin-right: 10px;"></i>
              <div class="publication-details">
                  <h3>
                      <a href="https://doi.org/10.1111/apps.12039" target="_blank" rel="noopener noreferrer">
                          Antecedents of business opportunity identification and innovation: Investigating the interplay of information processing and information acquisition.
                      </a>
                  </h3>
                  <p class="publication-authors">Gielnik, M. M., Krämer, A.-C., Kappel, B., & Frese, M. (2014).</p>
                  <p class="publication-journal">Applied Psychology: An International Review, 63, 344-381.</p>
              </div>
          </div>
  
          <div class="publication-article">
              <i class="fas fa-thumbs-up fa-3x" style="margin-right: 10px;"></i>
              <div class="publication-details">
                  <h3>
                      <a href="https://doi.org/10.5465/amle.2015.0048" target="_blank" rel="noopener noreferrer">
                          Action and action-regulation in entrepreneurship: Evaluating a student training for promoting entrepreneurship.
                      </a>
                  </h3>
                  <p class="publication-authors">Gielnik, M. M., Frese, M., Kahara-Kawuki, A., Katono, I. W., Kyejjusa, S., & Namatovu, S. (2015).</p>
                  <p class="publication-journal">Academy of Management Learning & Education, 14, 199-221.</p>
              </div>
          </div>
      </div>
  </section>
  