<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
</head>
<body>
  
    
    <!-- Hero Section -->
    <section class="training-section">
        <div class="content">
            <h2 class="fade-in">Formation en Initiative Personnelle (PI Training)</h2>
            <p class="fade-in">
                Le Personal Initiative (PI) Training est un programme de formation orienté vers l'action et basé sur des preuves, qui se concentre sur la création d'un état d'esprit entrepreneurial et a prouvé son efficacité pour augmenter le succès entrepreneurial.
            </p>
            <p class="fade-in">
                Doorways est un fournisseur certifié de la formation PI.
            </p>
            <a href="#cequenousfaisons" type="button" class="btn p-4 rounded-circle btn-lg mt-5" style="background-color: #ffd601;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                </svg>
            </a>
        </div>
    </section>
    


    <section class="pi-impact-details" id="impactDetails">
        <h1 class="pi-impact-title" style="color: #142B6F;">Detail Pi Impact</h1>
        <div class="detailed-impact-text">
            The impact of Personal Initiative (PI) Training is manifold. First, it changes 
            the mindset of entrepreneurs, enabling them to identify new opportunities, 
            act quickly, develop better ideas on how to influence their environment, 
            get more feedback, and persist in the pursuit of their new ideas. Second, 
            by providing effective entrepreneurship training in low- and middle-income economies, 
            we support the growth of local businesses and contribute to poverty reduction. 
            Third, we help policymakers and practitioners develop better educational programs for entrepreneurs. 
            The PI Training is based on scientific evidence and meets the highest quality standards 
            by utilizing randomized controlled trials (RCTs). RCTs allow us to draw causal conclusions 
            and better understand the conditions and mechanisms by which entrepreneurship training 
            affects business success.
            <br><br>
            PI Training has been implemented in various internationally funded research projects 
            in Africa, Asia, Latin America, and the Caribbean. Its impact is evaluated using multiple measurement waves. 
            In Togo, for example, its impact was assessed over more than two years. Below, you will find 
            some facts and figures from Leuphana University's research in Uganda and Togo (see Glaub et al., 2014; Campos et al., 2017).
        </div>
    </section>
    <section class="statistics-section" id="impactStats">
        <h1 class="pi-impact-title" style="color: #142B6F;">Impact Statistics</h1>

        <div class="container">
            <div class="statistic">
                <i class="fas fa-chart-line"></i>
                <div class="text">
                    <h3>30%</h3>
                    <p>Augmentation des profits après deux ans pour les participants de PI Training au Togo</p>
                </div>
            </div>
            <div class="statistic">
                <i class="fas fa-arrow-up"></i>
                <div class="text">
                    <h3>2.7x</h3>
                    <p>Croissance des profits 2.7 fois plus élevée pour les participants de PI Training au Togo</p>
                  
                </div>
            </div>
            <div class="statistic">
                <i class="fas fa-users"></i>
                <div class="text">
                    <h3>35%</h3>
                    <p>Augmentation du nombre d'employés après un an pour les participants de PI Training en Ouganda</p>
                </div>
            </div>
            <div class="statistic">
                <i class="fas fa-shopping-cart"></i>
                <div class="text">
                    <h3>27%</h3>
                    <p>Augmentation des ventes après un an pour les entrepreneurs ayant suivi PI Training en Ouganda</p>
                </div>
            </div>
        </div>
    </section>
    

   
</body>

</html>
